<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gupiao.generator.mapper.ImitateTradeDataMapper">

    <resultMap id="BaseResultMap" type="com.gupiao.generator.domain.ImitateTradeData">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="stockCode" column="stock_code" jdbcType="VARCHAR"/>
            <result property="tradeInDate" column="trade_in_date" jdbcType="VARCHAR"/>
            <result property="tradeOutDate" column="trade_out_date" jdbcType="VARCHAR"/>
            <result property="tradeInPrice" column="trade_in_price" jdbcType="DECIMAL"/>
            <result property="tradeOutPrice" column="trade_out_price" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,stock_code,
        trade_in_date,trade_out_date,trade_in_price,
        trade_out_price
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select id,user_name,stock_code,
               trade_in_date,trade_out_date,trade_in_price,
               trade_out_price
        from imitate_trade_data
        order by id desc;
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        select id,user_name,stock_code,
               trade_in_date,trade_out_date,trade_in_price,
               trade_out_price
        from imitate_trade_data
        where id = #{id,jdbcType=INTEGER};
    </select>

    <insert id="insert" parameterType="com.gupiao.generator.domain.ImitateTradeData" useGeneratedKeys="true">
        insert into imitate_trade_data(user_name,stock_code,
                                       trade_in_date,trade_out_date,trade_in_price,
                                       trade_out_price)
        values(#{userName,jdbcType=VARCHAR},#{stockCode,jdbcType=INTEGER},
               #{tradeInDate,jdbcType=VARCHAR},#{tradeOutDate,jdbcType=VARCHAR},#{tradeInPrice,jdbcType=VARCHAR},
               #{tradeOutPrice,jdbcType=DECIMAL})
    </insert>


    <update id="updateById">
        update imitate_trade_data set
            trade_out_date = #{tradeOutDate,jdbcType=VARCHAR},
            trade_out_price = #{tradeOutPrice,jdbcType=DECIMAL}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteById">
        delete from imitate_trade_data where id = #{id,jdbcType=INTEGER};
    </delete>

</mapper>
